/** Variables */
@import 'common/variables';
@import 'common/mixins';

/* Vendors */
@import "vendors/bootstrap";
@import "vendors/owl-carousel";

/* Global */
@import 'common/styles';

/* Blocks */
@import "blocks/header";
@import "blocks/logo";
@import "blocks/salons";
@import "blocks/divider";
@import "blocks/reduction";
@import "blocks/contact";
@import "blocks/wishlist";
@import "blocks/badge";
@import "blocks/nav";
@import "blocks/navbar";
@import "blocks/nav-column";
@import "blocks/breadcrumbs";
@import "blocks/preheader";
@import "blocks/services";
@import "blocks/additional";
@import "blocks/questions";
@import "blocks/information";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/btn";
@import "blocks/form";
@import "blocks/form-input";
@import "blocks/socials";
@import "blocks/contacts";
@import "blocks/subscribe-form";
