.additional {
  padding-bottom: 60px;
}

.additional__title {
  @include text-h3();
}

.additional__block {
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-down(md) {
    flex-direction: column-reverse;
  }
}

.additional__item {
  @include text-18-reg();
}