.additional {
    padding-bottom: 60px;

    &__title {
        @include text-h3;
    }

    &__block {
        display: flex;
        justify-content: space-between;

        @include media-breakpoint-down(md) {
            flex-direction: column-reverse;
        }
    }

    &__item {
        @include text-18-reg;
    }
}
