.badge {
    @include text-12-bd;

    position: absolute;
    top: 16px;
    right: 2px;
    z-index: 2;
    width: 23px;
    height: 23px;
    color: $white;
    line-height: 23px;
    text-align: center;
    background-color: $primary;
    border-radius: 50px;
}
