.badge {
  position: absolute;
  right: 2px;
  top: 16px;
  z-index: 2;

  width: 23px;
  height: 23px;
  border-radius: 50px;

  @include text-12-bd();
  text-align: center;
  color: $white;
  line-height: 23px;

  background-color: $primary;
}