.breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 20px 0;
    list-style: none;

    &__item {
        @include text-16-reg;

        display: flex;
        align-items: center;
        color: $text-60;

        &::after {
            display: inline-block;
            width: 6.25px;
            height: 10px;
            margin: 0 8px;
            background: url('../img/arrow.svg');
            content: '';
        }

        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}
