.btn {
    @include text-14-bd;

    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 15px 30px;
    text-decoration: none;
    background: $white;
    border: 1px solid $primary;
    border-radius: 26px;
    cursor: pointer;
    transition:
        background-color 0.1s linear,
        color 0.1s linear;

    &:hover {
        background: lighten($primary, 50%);
    }

    &__arrow {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 50px;
        height: 50px;
        background: $white url('../img/arrow-point-to-right.svg') no-repeat
            center;
        background-color: $white;
        border-radius: 50px;

        @media (max-width: 350px) {
            display: none;
        }
    }

    &--header {
        max-width: 214px;
        height: 52px;

        @include media-breakpoint-down(lg) {
            text-align: center;
        }
    }

    &--white {
        line-height: 25px;
        text-transform: uppercase;
        border-radius: 26px;
    }

    &--next {
        @include text-16-bd;

        min-width: 332px;
        height: 70px;
        padding-right: 72px;
        color: $white;
        text-transform: uppercase;
        background: $btn-gradient;
        border-radius: 35px;
        box-shadow: $btn-shadow;
        transition: none;

        @media (max-width: 350px) {
            display: flex;
            justify-content: center;
            min-width: 100%;
            padding: 0;
        }

        &:hover {
            background: lighten($primary, 5%);
        }
    }

    &--subscribe {
        @include text-16-bd-lt;

        justify-content: center;
        min-width: 157px;
        height: 52px;
        color: $white;
        background: $btn-gradient;
        transition: none;

        @include media-breakpoint-down(md) {
            @include text-14-bd;

            color: $white;
        }

        &:hover {
            background: lighten($primary, 5%);
        }
    }

    &--complete {
        background: linear-gradient(90deg, #7b7b7b 0%, #333 100%);

        &:hover {
            background: lighten(#333, 5%);
        }

        &:disabled {
            &:hover {
                background: linear-gradient(90deg, #7b7b7b 0%, #333 100%);
            }
        }
    }
}
