.contact {
    text-align: right;

    &__phone {
        @include text-18-bd;
    }

    &__link {
        @include text-14-reg;

        color: $primary;
        text-decoration: none;
        border-bottom: 1px dashed $primary;
    }

    @include media-breakpoint-down(sm) {
        display: none;
    }
}
