.contacts {
    @include text-16-reg;

    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        @include media-breakpoint-down(xs) {
            justify-content: center;
        }
    }

    &__item-text {
        @include text-16-reg;

        margin-left: 14px;
        color: $text-60;
    }
}
