.contact {
    text-align: right;

    &__phone {
        @include text-18-bd;

        display: block;
        text-decoration: none;

        &:hover {
            color: $primary;
        }
    }

    &__link {
        @include text-14-reg;

        color: $primary;
        text-decoration: none;
        border-bottom: 1px dashed $primary;

        &:hover {
            color: lighten($primary, 10%);
        }
    }

    @include media-breakpoint-down(sm) {
        display: none;
    }
}
