.divider {
    display: inline-block;
    width: 1px;
    height: 16px;
    background-color: $stroke;

    &--text {
        margin-right: 13px;
        margin-left: 13px;
    }

    &--header {
        height: 92px;
        margin-right: 30px;
        margin-left: 30px;
        background-color: $bg-light-grey;

        @include media-breakpoint-down(lg) {
            margin-right: 10px;
            margin-left: 10px;
        }

        @include media-breakpoint-down(xs) {
            display: none;
        }
    }

    &--header-short {
        margin-left: 10px;
    }

    &--header-long {
        margin-right: 42px;
        margin-left: 42px;
    }

    &--hide {
        width: 0;
    }

    &--footer {
        height: 102px;
        margin-right: 49px;
        margin-left: 49px;
        background-color: $bg-light-grey;

        @include media-breakpoint-down(lg) {
            margin-right: 32px;
            margin-left: 32px;
        }

        @include media-breakpoint-down(md) {
            margin-right: 10px;
            margin-left: 10px;
        }

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    &--footer-nav {
        height: 290px;
        margin-right: 30px;
        margin-left: 30px;
        background-color: $stroke;

        @include media-breakpoint-down(xs) {
            display: none;
        }
    }

    &--horizontal {
        width: 100%;
        height: 1px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: $stroke;
    }
}
