.footer {
    &__inner {
        display: flex;
        align-items: center;

        &--top {
            align-items: start;

            @include media-breakpoint-down(xs) {
                flex-direction: column;
            }
        }

        @include media-breakpoint-down(sm) {
            align-items: start;
        }
    }

    &__subscribe {
        position: relative;
        display: flex;
        align-items: center;
        height: 102px;
        box-shadow: $drop-shadow;

        @include media-breakpoint-down(sm) {
            align-items: start;
            height: 132px;
            padding-top: 14px;
        }

        @include media-breakpoint-down(xs) {
            flex-direction: column;
        }
    }

    &__subscribe-text {
        @include text-18-bd;

        max-width: 240px;
        margin-right: 9px;
        line-height: normal;

        @include media-breakpoint-down(lg) {
            max-width: 190px;
        }

        @include media-breakpoint-down(md) {
            @include text-16-bd;

            max-width: 160px;
            line-height: normal;
        }

        @include media-breakpoint-down(sm) {
            max-width: 140px;
        }

        @include media-breakpoint-down(xs) {
            margin-top: 15px;
        }
    }

    &__nav {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: $bg-light-grey;
    }

    &__nav-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        @include media-breakpoint-down(lg) {
            margin-top: -20px;
        }
    }

    &__column {
        &--first {
            max-width: 262px;

            @include media-breakpoint-down(md) {
                max-width: 184px;
            }

            @include media-breakpoint-down(xs) {
                max-width: 100%;
                margin-bottom: 20px;
                text-align: center;
            }
        }
    }

    &__info {
        @include text-14-reg;

        color: $text-60;
        line-height: 22px;
    }

    &__copyright {
        display: flex;
        align-items: center;
        height: 100px;
        box-shadow: $small-shadow;
    }

    &__copyright-link {
        @include text-14-bd;

        display: block;
        color: $text-60;
        line-height: 20px;
        text-decoration-line: underline;
    }

    &__copyright-text {
        @include text-14-reg;

        color: $text-60;
        line-height: 20px;
    }
}
