.form-input {
    @include text-16-bd-lt;

    width: 100%;
    padding: 14px 30px;
    border: 1px solid $primary;
    border-radius: 26px;

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: $text-primary;
    }
}
