.form {
    margin-top: 15px;

    &__group {
        display: flex;
        align-items: start;
        margin-top: 15px;
        margin-bottom: 15px;

        &--center {
            justify-content: center;
        }
    }

    &__group-checkbox {
        display: block;
        width: 20px;
        height: 20px;
        padding: 10px;
        color: white;
        accent-color: #649f27;
    }

    &__group-label {
        @include text-14-reg;

        max-width: 80%;
        margin-left: 10px;
        color: $text-60;
    }
}
