.header {
    &__row {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0;

        @include media-breakpoint-down(xs) {
            justify-content: space-between;
        }
    }

    &__info {
        height: 92px;
        overflow: hidden;
        background-color: $white;
    }
}
