.information {
    margin-bottom: 55px;
    padding-top: 60px;
    text-align: center;

    &__title {
        @include text-h3;

        margin: 0;
        padding: 30px;

        @include media-breakpoint-down(md) {
            font-size: 24px;
        }
    }

    &__list {
        padding: 0 30px;
    }

    &__item {
        @include text-18-reg;
    }

    &__info {
        @include text-18-reg;

        margin-top: 20px;
        padding: 0 30px;
    }

    &__block {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        text-align: left;
        background-color: $bg-light-grey;
        border-radius: 20px;

        @include media-breakpoint-down(lg) {
            border: 1px solid $stroke;
        }
    }

    &__block-text {
        padding-bottom: 20px;

        @include media-breakpoint-only(xl) {
            min-height: 522px;
            padding-right: 480px;
            border: 1px solid $stroke;
            border-radius: 20px 0 0 20px;
        }
    }

    &__block-img {
        float: right;

        @include media-breakpoint-only(xl) {
            position: absolute;
            top: 0;
            right: 0;
        }

        @include media-breakpoint-down(lg) {
            margin: 10px;
        }

        @include media-breakpoint-down(sm) {
            display: flex;
            justify-content: center;
            float: none;
            margin-top: 30px;
        }
    }

    &__img {
        display: none;

        &--xl {
            @include media-breakpoint-only(xl) {
                display: block;
            }
        }

        &--lg {
            @include media-breakpoint-down(lg) {
                display: block;
                border-radius: 10px;
            }
        }
    }
}
