.logo {
    &--footer {
        margin-top: -30px;
    }

    &--lg {
        display: none;

        @include media-breakpoint-only(xl) {
            display: block;
        }
    }

    &--md {
        display: none;

        @include media-breakpoint-only(lg) {
            display: block;
        }
    }

    &--sm {
        display: none;

        @include media-breakpoint-down(md) {
            display: block;
        }
    }
}
