.modal {
    &__content {
        position: relative;
        width: 100%;
        padding: 30px;
        background-color: $white;
    }

    &__close {
        position: absolute;
        top: 12px;
        right: 6px;
        z-index: 1;
        width: 35px;
        padding: 0;
        font-size: 22px;
        background: none;
        border: 0;
        cursor: pointer;
    }

    &__title {
        @include text-20-bd;

        color: $primary;
        text-align: center;
    }
}
