.nav-column {
    display: flex;
    flex-direction: column;

    &__title {
        @include text-16-bd;

        margin-bottom: 10px;

        @include media-breakpoint-down(lg) {
            margin-top: 20px;
        }
    }

    &__item {
        @include text-14-reg;

        color: $text-60;
        line-height: 25px;
        text-decoration: none;
        transition: color 0.1s linear;

        &:hover {
            color: $text-primary;
        }
    }

    & &__items {
        display: flex;
        flex-direction: column;
    }

    &--1 {
        min-width: 228px;
    }

    &--2 {
        min-width: 253px;
    }

    &--3 {
        min-width: 223px;
    }

    &--4 {
        min-width: 142px;
    }

    @include media-breakpoint-down(lg) {
        min-width: 50%;
    }

    @include media-breakpoint-down(sm) {
        min-width: 100%;
    }

    @include media-breakpoint-down(xs) {
        padding-left: 10%;
    }
}
