.nav {
    display: flex;
    flex-direction: row;
    height: 70px;
    margin: 0 0 0 67px;

    @include media-breakpoint-down(lg) {
        margin: 0;
    }

    @include media-breakpoint-down(sm) {
        position: absolute;
        top: 70px;
        left: 0;
        z-index: 2;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding-bottom: 20px;
        background: $white;
        border-bottom: 1px solid $stroke;
    }

    &__item {
        @include text-16-reg;

        position: relative;
        display: flex;
        align-items: center;
        margin: 0 1px;
        padding-right: 28px;
        padding-left: 28px;
        color: $white;
        text-decoration: none;
        transition: background-color 0.1s linear;

        @include media-breakpoint-down(lg) {
            padding-right: 20px;
            padding-left: 20px;
        }

        @include media-breakpoint-down(md) {
            padding-right: 6px;
            padding-left: 6px;
        }

        @include media-breakpoint-down(sm) {
            padding: 10px 6px 10px 30px;
            color: $text-primary;
        }

        &::after {
            position: absolute;
            right: -1px;
            z-index: 1;
            width: 1px;
            height: 30px;
            background-color: $text-primary;
            opacity: 0.2;
            content: '';
        }

        &:last-child {
            &::after {
                display: none;
            }
        }

        &--active,
        &:hover {
            background-color: lighten($primary, 5%);
        }
    }

    &--mobile-hidden {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}
