.navbar {
    position: relative;
    height: 70px;
    background-color: $bg-green;
    box-shadow: $small-shadow inset;

    &__row {
        display: flex;
        align-items: center;
        margin: 0;

        @include media-breakpoint-down(xs) {
            justify-content: space-between;
        }
    }

    &__menu {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 75px;
        height: 70px;
        background: none;
        border: none;

        @include media-breakpoint-down(sm) {
            display: flex;
        }
    }

    &__menu-icon {
        margin-top: 23px;
        margin-left: 36px;

        @include media-breakpoint-down(md) {
            margin-left: 25px;
        }
    }

    &__search {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        width: 25%;
        height: 70px;
        background-color: $bg-dark-green;
        box-shadow: $small-shadow inset;

        @media (max-width: 1700px) {
            width: 20%;
        }

        @include media-breakpoint-down(lg) {
            width: 18%;
        }

        @include media-breakpoint-down(md) {
            width: 15%;
        }

        @include media-breakpoint-down(sm) {
            width: 50%;
        }

        @include media-breakpoint-down(xs) {
            width: 75%;
        }
    }

    &__search-btn {
        display: flex;
        background: none;
        border: none;
        cursor: pointer;
    }

    &__search-icon {
        margin-top: 23px;
        margin-left: 36px;

        @include media-breakpoint-down(lg) {
            margin-left: 20px;
        }

        @include media-breakpoint-down(md) {
            margin-left: 10px;
        }
    }

    &__search-input {
        @include text-16-reg;

        width: 70%;
        height: 100%;
        margin-left: 25px;
        padding-right: 20px;
        color: $white;
        background: none;
        border: none;
        outline: none;

        @include media-breakpoint-down(md) {
            margin-left: 5px;
            padding-right: 5px;
        }
    }
}
