.navbar {
  position: relative;

  height: 70px;

  box-shadow: $small-shadow inset;
  background-color: $bg-green;
}

.navbar__row {
  display: flex;
  align-items: center;
  margin: 0;

  @include media-breakpoint-down(xs) {
    justify-content: space-between;
  }
}

.navbar__menu {
  position: absolute;
  left: 0;
  top: 0;

  display: none;
  width: 75px;
  height: 70px;
  border: none;

  background: none;

  @include media-breakpoint-down(sm) {
    display: flex;
  }
}

.navbar__menu-icon {
  margin-left: 36px;
  margin-top: 23px;

  @include media-breakpoint-down(md) {
    margin-left: 25px;
  }
}

.navbar__search {
  position: absolute;
  right: 0;
  top: 0;

  display: flex;
  width: 25%;
  height: 70px;

  box-shadow: $small-shadow inset;
  background-color: $bg-dark-green;
  
  @media (max-width: 1700px) {
    width: 20%;
  }

  @include media-breakpoint-down(lg) {
    width: 18%;
  }

  @include media-breakpoint-down(md) {
    width: 15%;
  }

  @include media-breakpoint-down(sm) {
    width: 50%;
  }

  @include media-breakpoint-down(xs) {
    width: 75%;
  }
}

.navbar__search-btn {
  display: flex;
  border: none;
  background: none;

  cursor: pointer;
}

.navbar__search-icon {
  margin-left: 36px;
  margin-top: 23px;

  @include media-breakpoint-down(lg) {
    margin-left: 20px;
  }

  @include media-breakpoint-down(md) {
    margin-left: 10px;
  }
}

.navbar__search-input {
  width: 70%;
  height: 100%;
  margin-left: 25px;
  padding-right: 20px;
  border: none;
  outline: none;

  @include text-16-reg();
  color: $white;
  background: none;

  @include media-breakpoint-down(md) {
    margin-left: 5px;
    padding-right: 5px;
  }
}