.preheader {
    position: relative;
    min-height: 509px;
    background-color: $bg-light-grey;

    @include media-breakpoint-down(xs) {
        padding-bottom: 50px;
    }

    &__title {
        @include text-42-bd;

        margin: 10px 0;

        @include media-breakpoint-down(sm) {
            font-size: 32px;
        }

        &--green {
            color: $text-green;
        }
    }

    &__text {
        @include text-16-reg;

        color: $text-60;
    }

    &__block {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        margin-top: -62px;
        margin-left: 46px;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    & &__notice {
        @include text-16-reg-italic;

        margin-top: 5px;
        margin-bottom: 30px;
    }
}
