.preheader {
    position: relative;
    min-height: 509px;
    background-color: $bg-light-grey;

    @include media-breakpoint-down(sm) {
        padding-bottom: 30px;
    }

    @include media-breakpoint-down(xs) {
        padding-bottom: 50px;
    }

    &__title {
        @include text-42-bd;

        margin: 10px 0;

        @include media-breakpoint-down(md) {
            font-size: 32px;
            line-height: 40px;
        }

        &--green {
            color: $text-green;
        }
    }

    &__text {
        @include text-16-reg;

        color: $text-60;
    }

    &__block {
        position: relative;
        padding-right: 447px;

        @include media-breakpoint-down(md) {
            display: block;
            padding-right: 247px;
        }

        @include media-breakpoint-down(sm) {
            padding: 0;
        }
    }

    &__block-img {
        position: absolute;
        top: -72px;
        right: 0;

        @include media-breakpoint-down(md) {
            top: 0;
        }

        @include media-breakpoint-down(sm) {
            position: initial;
            display: flex;
            justify-content: center;
        }
    }

    &__img {
        display: none;

        &--lg {
            @include media-breakpoint-up(lg) {
                display: block;
            }
        }

        &--md {
            @include media-breakpoint-down(md) {
                display: block;
                border-radius: 10px;
            }
        }
    }

    & &__notice {
        @include text-16-reg-italic;

        margin-top: 5px;
        margin-bottom: 30px;
    }
}
