.reduction {
    width: 21%;

    @include media-breakpoint-down(lg) {
        width: 18%;
    }

    @include media-breakpoint-down(md) {
        display: none;
    }

    &__icon {
        display: inline-block;

        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    &__title {
        @include text-16-bd;

        color: $primary;
        line-height: normal;
        white-space: nowrap;
        transition: color 0.1s linear;
    }

    &__subtitle {
        @include text-14-light;

        color: $primary;
        white-space: nowrap;
        transition: color 0.1s linear;
    }
}
