.salons {
  width: 25%;

  @include media-breakpoint-down(lg) {
    width: 29%;
  }

  @include media-breakpoint-down(md) {
    width: 36%;
  }

  @include media-breakpoint-down(sm) {
    width: 43%;
  }

  @include media-breakpoint-down(xs) {
    display: none;
  }
}

.salons__block {
  display: flex;
  align-items: center;
}

.salons__icon {
  margin-right: 10px;
}

.salons__title {
  @include text-16-bd();
  text-transform: uppercase;
}

.salons__city {
  max-width: 148px;

  @include text-16-bd();
  text-decoration: none;
  color: $primary;
}

.salons__info {
  @include text-16-reg();
  color: $text-60;
}