.salons {
    width: 25%;

    @include media-breakpoint-down(lg) {
        width: 29%;
    }

    @include media-breakpoint-down(md) {
        width: 36%;
    }

    @include media-breakpoint-down(sm) {
        width: 43%;
    }

    @include media-breakpoint-down(xs) {
        display: none;
    }

    &__block {
        display: flex;
        align-items: center;
    }

    &__icon {
        margin-right: 10px;
    }

    &__title {
        @include text-16-bd;

        text-transform: uppercase;
    }

    &__city {
        @include text-16-bd;

        max-width: 148px;
        color: $primary;
        text-decoration: none;

        &:hover {
            color: lighten($primary, 10%);
        }
    }

    &__info {
        @include text-16-reg;

        color: $text-60;
    }
}
