.services {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

    &__title {
        @include text-h3;

        margin-top: 0;
    }

    &__list {
        display: grid;
        grid-gap: 30px;
        grid-row-gap: 72px;
        grid-template-columns: repeat(3, auto);
        margin-top: 72px;
        margin-bottom: 30px;

        @include media-breakpoint-down(md) {
            grid-template-columns: repeat(2, auto);
        }

        @include media-breakpoint-down(sm) {
            grid-template-columns: repeat(1, auto);
        }
    }

    &__item {
        position: relative;
        display: flex;
        justify-content: center;
        width: 370px;
        min-height: 190px;
        background-color: $bg-light-grey;
        border-radius: 15px;

        @include media-breakpoint-down(lg) {
            width: 100%;
        }
    }

    &__item-icon {
        position: absolute;
        top: -42px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 84px;
        height: 84px;
        background-color: $primary;
        border: 10px solid $white;
        border-radius: 50px;
        box-shadow: $circle-shadow;
    }

    &__item-text {
        @include text-18-bd;

        padding: 40px 40px 15px;
        text-transform: uppercase;

        &--green {
            color: $text-green;
        }
    }
}
