.services {
  padding-top: 60px;
  padding-bottom: 60px;

  text-align: center;
}

.services__title {
  @include text-h3();
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 30px;
  grid-row-gap: 72px;
  margin-top: 72px;
  margin-bottom: 30px;

  @include media-breakpoint-down(md) {
    grid-template-columns: repeat(2, auto);
  }

  @include media-breakpoint-down(sm) {
    grid-template-columns: repeat(1, auto);
  }
}

.services__item {
  position: relative;

  display: flex;
  justify-content: center;
  width: 370px;
  min-height: 190px;
  border-radius: 15px;

  background-color: $bg-light-grey;

  @include media-breakpoint-down(lg) {
    width: 100%;
  }
}

.services__item-icon {
  position: absolute;
  top: -42px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 84px;
  border: 10px solid $white;
  border-radius: 50px;

  box-shadow: $circle-shadow;
  background-color: $primary;
}

.services__item-text {
  padding: 40px 40px 15px 40px;

  @include text-18-bd();
  text-transform: uppercase;

  &--green {
    color: $text-green;
  }
}