.subscribe-form {
  @include media-breakpoint-down(xs) {
    display: flex;
    flex-direction: column;
  }
}

.subscribe-form__input {
  max-width: 210px;
  margin-right: 15px;

  @include media-breakpoint-down(md) {
    max-width: 194px;
    margin-right: 5px;

    @include text-14-bd();
  }

  @include media-breakpoint-down(xs) {
    margin-bottom: 10px;
  }
}