.subscribe-form {
    @include media-breakpoint-down(xs) {
        display: flex;
        flex-direction: column;
    }

    &__input {
        max-width: 210px;
        margin-right: 15px;

        @include media-breakpoint-down(md) {
            @include text-14-bd;

            max-width: 194px;
            margin-right: 5px;
        }

        @include media-breakpoint-down(xs) {
            margin-bottom: 10px;
        }

        @media (max-width: 350px) {
            padding: 14px 12px;
        }
    }
}
