.wishlist {
    display: flex;
    flex-direction: row;
    margin-left: 36px;

    @include media-breakpoint-down(sm) {
        margin-left: 20px;
    }

    &__link {
        position: relative;
        padding: 30px 18px 15px 15px;

        @include media-breakpoint-down(xs) {
            margin-left: 20px;
        }
    }
}
