/**
 * Text mixins
 */
@mixin text-42-bd() {
    color: $text-primary;
    font-weight: 700;
    font-size: 42px;
    font-family: inherit;
    font-style: normal;
    line-height: 50px;
}

@mixin text-h3() {
    color: $text-primary;
    font-weight: 700;
    font-size: 28px;
    font-family: inherit;
    font-style: normal;
    line-height: 36px;
}

@mixin text-20-bd() {
    color: $text-primary;
    font-weight: 700;
    font-size: 20px;
    font-family: inherit;
    font-style: normal;
    line-height: 20px;
}

@mixin text-18-bd() {
    color: $text-primary;
    font-weight: 700;
    font-size: 18px;
    font-family: inherit;
    font-style: normal;
    line-height: 30px;
}

@mixin text-18-reg() {
    color: $text-primary;
    font-weight: 400;
    font-size: 18px;
    font-family: inherit;
    font-style: normal;
    line-height: 30px;
}

@mixin text-16-bd() {
    color: $text-primary;
    font-weight: 700;
    font-size: 16px;
    font-family: inherit;
    font-style: normal;
    line-height: 22px;
}

@mixin text-16-bd-lt() {
    color: $text-primary;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Proxima Nova Lt', sans-serif;
    font-style: normal;
    line-height: 22px;
}

@mixin text-16-reg() {
    color: $text-primary;
    font-weight: 400;
    font-size: 16px;
    font-family: inherit;
    font-style: normal;
    line-height: 22px;
}

@mixin text-16-reg-italic() {
    color: $text-primary;
    font-weight: 400;
    font-size: 16px;
    font-family: inherit;
    font-style: italic;
    line-height: 22px;
}

@mixin text-14-bd() {
    color: $text-primary;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Proxima Nova Lt', sans-serif;
    font-style: normal;
    line-height: 14px;
}

@mixin text-14-reg() {
    color: $text-primary;
    font-weight: 400;
    font-size: 14px;
    font-family: inherit;
    font-style: normal;
    line-height: 14px;
}

@mixin text-14-light() {
    color: $text-primary;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Proxima Nova Lt', sans-serif;
    font-style: normal;
    line-height: normal;
}

@mixin text-12-bd() {
    color: $text-primary;
    font-weight: 600;
    font-size: 12px;
    font-family: 'Proxima Nova Lt', sans-serif;
    font-style: normal;
    line-height: normal;
}
