/**
 * Colors
 */
$primary: #76b926;
$alert: #e34c4c;
$white: #fff;
$stroke: #dfdfdf;

/**
 * BG Colors
 */
$bg-green: #6eb744;
$bg-dark-green: #62a53c;
$bg-light-grey: #f4f4f4;
$bg-box-grey: #edeef0;

/**
 * Text Colors
 */
$text-primary: #37454a;
$text-green: #76b72a;
$text-60: rgba($text-primary, 0.6);
$text-paragraph: rgba($text-primary, 0.9);

/**
 * Shadow
 */
$circle-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4) inset;
$btn-shadow: 0 10px 20px 0 rgba(132, 199, 55, 0.3);
$small-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
$small-shadow-down: 0 -4px 8px 0 rgba(0, 0, 0, 0.1);
$drop-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.1);

/**
 * Gradient
 */
$btn-gradient: linear-gradient(90deg, #6cb644 0%, #82ca2c 100%);

/**
 * Container widths
 */
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1200px,
);
