<footer class="footer">
   <div class="footer__subscribe">
      <div class="container">
         <div class="footer__inner">

            <div class="footer__subscribe-text">Текст текст текст текст текст текст текст</div>

            <span class="divider divider--footer divider--hide"></span>

            <form class="subscribe-form">
               <input class="form-input subscribe-form__input" id="subscribe-form-email" type="email" name="user-email-news" placeholder="Введите свой e-mail" required>
               <button class="btn btn--subscribe" id="subscribe-form-button" type="submit">Подписаться</button>
            </form><!-- /.subscribe-form -->

            <span class="divider divider--footer"></span>

            <div class="socials">
               <div class="socials__text">Мы в соц сетях:</div>
               <div class="socials__links">
                  <a class="socials__link" href="#" target="_blank"><img width="20px" height="20px" src="assets/img/vk.svg" alt="vk" /></a>
                  <a class="socials__link" href="#" target="_blank"><img width="20px" height="20px" src="assets/img/facebook.svg" alt="facebook" /></a>
                  <a class="socials__link" href="#" target="_blank"><img width="20px" height="20px" src="assets/img/instagram.svg" alt="instagram" /></a>
               </div>
            </div><!-- /.socials -->

         </div>
      </div><!-- /.container --->
   </div><!-- /.footer__subscribe --->

   <div class="footer__nav">
      <div class="container">
         <div class="footer__inner footer__inner--top">

            <div class="footer__column footer__column--first">
               <div class="logo logo--lg logo--footer">
                  <img width="200px" height="92px" src="assets/img/vimeo.png" alt="vimeo">
               </div>
               <div class="logo logo--md logo--footer">
                  <img width="150px" height="69px" src="assets/img/vimeo.png" alt="vimeo">
               </div>
               <div class="logo logo--sm logo--footer">
                  <img width="100px" height="46px" src="assets/img/vimeo.png" alt="vimeo">
               </div><!-- /.logo -->

               <ul class="contacts">
                  <li class="contacts__item">
                     <img src="assets/img/phone-call.svg" width="16px" height="16px" alt="phone">
                     <span class="contacts__item-text" href="">+7 (800) 111-111-1</span>
                  </li>
                  <li class="contacts__item">
                     <img src="assets/img/at.svg" width="16px" height="16px" alt="email">
                     <span class="contacts__item-text" href="">info@vimeo.ru</span></li>
                  <li class="contacts__item">
                     <img src="assets/img/questions-circular-button.svg" width="16px" height="16px" alt="question">
                     <a class="contacts__item-text" href="">Задать вопрос</a>
                  </li>
                  <li class="contacts__item">
                     <img src="assets/img/speech-bubble.svg" width="16px" height="16px" alt="feedback">
                     <a class="contacts__item-text" href="">Оставить отзыв</a>
                  </li>
               </ul>

               <span class="divider divider--horizontal"></span>

               <div class="footer__info">
                  текст текст текст текст текст текст текст текст текст текст текст текст текст
               </div>
            </div>

            <span class="divider divider--footer-nav"></span>

            <div class="footer__nav-list">
               <div class="nav-column nav-column--1">
                  <div class="nav-column__title">Заголовок</div>
                  <nav class="nav-column__items">
                     <a class="nav-column__item" href="#">Название</a>
                     <a class="nav-column__item" href="#">Название название</a>
                     <a class="nav-column__item" href="#">Название название</a>
                     <a class="nav-column__item" href="#">Название</a>
                     <a class="nav-column__item" href="#">Названиеназвание</a>
                  </nav>
               </div>

               <div class="nav-column nav-column--2">
                  <div class="nav-column__title">Заголовок</div>
                  <nav class="nav-column__items">
                     <a class="nav-column__item" href="#">Название</a>
                     <a class="nav-column__item" href="#">Название название</a>
                     <a class="nav-column__item" href="#">Название название</a>
                     <a class="nav-column__item" href="#">Название</a>
                     <a class="nav-column__item" href="#">Названиеназвание</a>
                     <a class="nav-column__item" href="#">Название</a>
                     <a class="nav-column__item" href="#">Названиеназвание</a>
                     <a class="nav-column__item" href="#">Название</a>
                  </nav>
               </div>

               <div class="nav-column nav-column--3">
                  <div class="nav-column__title">Заголовок Заголовок</div>
                  <nav class="nav-column__items">
                     <a class="nav-column__item" href="#">Название</a>
                     <a class="nav-column__item" href="#">Название название</a>
                     <a class="nav-column__item" href="#">Название название</a>
                     <a class="nav-column__item" href="#">Название</a>
                     <a class="nav-column__item" href="#">Названиеназвание</a>
                     <a class="nav-column__item" href="#">Название название</a>
                  </nav>
               </div>

               <div class="nav-column nav-column--4">
                  <div class="nav-column__title">Заголовок</div>
                  <nav class="nav-column__items">
                     <a class="nav-column__item" href="#">Название</a>
                     <a class="nav-column__item" href="#">Название название</a>
                     <a class="nav-column__item" href="#">Название</a>
                     <a class="nav-column__item" href="#">Название</a>
                     <a class="nav-column__item" href="#">Название</a>
                     <a class="nav-column__item" href="#">Название</a>
                     <a class="nav-column__item" href="#">Название</a>
                     <a class="nav-column__item" href="#">Название</a>
                     <a class="nav-column__item" href="#">Название</a>
                     <a class="nav-column__item" href="#">Название</a>
                     <a class="nav-column__item" href="#">Название</a>
                  </nav>
               </div>
            </div>



         </div><!-- /.footer__inner --->
      </div><!-- /.container --->
   </div><!-- /.footer__nav --->

   <div class="footer__copyright">
      <div class="container">

         <a class="footer__copyright-link" href="#">Политика конфиденциальности</a>
         <span class="footer__copyright-text">© Все права защищены авторским правом</span>

      </div><!-- /.container --->
   </div><!-- /.footer__copyright --->
</footer>