<header class="header">
    <div class="header__info">
        <div class="container">
            <div class="row header__row">

                <div class="logo logo--lg">
                    <img width="200px" height="92px" src="assets/img/vimeo.png" alt="vimeo">
                </div>
                <div class="logo logo--md">
                    <img width="150px" height="69px" src="assets/img/vimeo.png" alt="vimeo">
                </div>
                <div class="logo logo--sm">
                    <img width="100px" height="46px" src="assets/img/vimeo.png" alt="vimeo">
                </div>

                <span class="divider divider--header divider--header-short"></span>

                <div class="salons">
                    <div class="salons__title">Текст текст</div>
                    <div class="salons__block">
                        <img class="salons__icon" src="assets/img/pin.svg" alt="city">
                        <a class="salons__city" href="#">Тексттт (10)</a>
                        <span class="divider divider--text"></span>
                        <span class="salons__info">текст (10)</span>
                    </div>
                </div><!-- /.salons -->

                <div class="reduction">
                    <button class="btn btn--header" data-toggle="modal" data-target="#request-modal">
                        <span class="reduction__icon">
                            <span class="reduction__title">Ш Б</span>
                            <span class="reduction__subtitle">Н М К</span>
                        </span>
                        Запишитесь на проверку
                    </button>
                </div><!-- /.reduction -->

                <span class="divider divider--header"></span>

                <div class="contact">
                    <div class="contact__phone">+7 (800) 111-111-1</div>
                    <a class="contact__link" href="tel:78001111111">Позвоните мне</a>
                </div><!-- /.contact-->

                <div class="wishlist">
                    <a class="wishlist__link" href="#">
                        <span class="badge">7</span>
                        <img width="28px" height="24px" src="assets/img/heart.svg" alt="like-icon"/>
                    </a>
                    <a class="wishlist__link" href="#">
                        <span class="badge">3</span>
                        <img width="30px" height="28px" src="assets/img/cart.svg" alt="cart-icon"/>
                    </a>
                </div><!-- /.wishlist -->

            </div><!-- /.header__row -->
        </div><!-- /.container -->
    </div><!-- /.header__top -->

    {{> navbar }}

</header>