<div class="navbar">
    <div class="container">
        <div class="navbar__row">

            <button class="navbar__menu">
                <img id="mobile-menu-button" class="navbar__menu-icon" width="24px" height="24px" src="assets/img/menu.svg">
            </button>

            <nav id="nav-menu" class="nav nav--mobile-hidden">
                <a class="nav__item" href="#">Текст текст</a>
                <a class="nav__item" href="#">Текст текст текст</a>
                <a class="nav__item" href="#">Текст текст</a>
                <a class="nav__item" href="#">Текст текст</a>
                <a class="nav__item" href="#">Текст текст</a>
                <a class="nav__item" href="#">Текст текст</a>
            </nav><!-- /.nav -->

            <form id="#navbar-search-form" class="navbar__search" action="/" method="POST">
                <button id="#navbar-search-button" class="navbar__search-btn" type="submit">
                    <img class="navbar__search-icon" width="24px" height="24px" src="assets/img/magnifying-glass.svg">
                </button>
                <input id="#navbar-search-input" class="navbar__search-input" type="text" name="search-field">
            </form>

        </div><!-- /.header__row -->
    </div>
</div><!-- /.header__bottom -->